<nav class="grey lighten-3 nav-extended z-depth-0">
  <div class="nav-content">
      <span class="nav-title grey-text darken-3" style="padding-left: 1rem"><%= Summary.model_name.human(count: 2) %></span>
      <a class="btn-floating btn-large halfway-fab waves-effect waves-light green lighten-1">
        <i class="material-icons">add</i>
      </a>
    </div>
</nav>
