<nav class="grey lighten-3 nav-extended z-depth-0">
  <div class="container">
    <div class="nav-wrapper">
      <a class="brand-logo center grey-text"><%= model.model_name.human(count: 2) %></a>
      <a data-activates="mobile-demo" class="button-collapse grey-text"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right">
        <li>
          <%= link_to [:new, model.to_s.underscore], class: "btn waves-effect waves-light", remote: true do %>
            <%= material_icon.add %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
