<nav class="cyan lighten-5 nav-extended">
  <div class="nav-content center">
      <span class="center nav-title blue-grey-text"><%= BankAccount.model_name.human(count: 2) %></span>
      <%= link_to new_bank_account_path, class: "btn-floating btn-large halfway-fab waves-effect waves-light cyan", remote: true do %>
        <%= material_icon.add %>
      <% end %>
    </div>
</nav>
