<span class="card-title">Hola <em><%= @user.full_name %></em></span>
<p>
  <strong><%= @host.full_name %></strong> te ha invitado a su grupo <strong><%= @group.name %></strong>,
  si quieres haceptar solo haz clic en el boton
</p>
<%= link_to "Aceptar!", accept_invitation_group_url(@group, user_id: @user.id), target: '_blank', class: 'btn' %>
