@import "materialize/components/color";
$primary-color: color("grey", "lighten-1") !default;
$secondary-color: color("cyan", "lighten-1") !default;
@import 'materialize';
@import 'material_icons';

header, main, footer {
  padding-left: 260px;
}

main {
  padding-top: 50px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.brand-logo {
  padding-left: 65px !important;
  font-size: 20px !important;
}

.btn-block {
    min-width: 100% !important;
    text-transform: uppercase !important;
}

.count-notification {
  border-radius: 100px;
  font-size: 10px !important;
  min-width: 3px !important;
  position: absolute;
  top: 13px;
  height: 20px !important;
  right: 10px;
}
