<div class="row" id="category-index">
  <% @categories.each do |cat| %>
    <div class="col m6 l6 xl6" id="<%= "category-#{cat.id}" %>">
      <%= render cat %>
    </div>
  <% end %>
</div>

<div class="modal" id="modal-category">
</div>
