<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <%= stylesheet_link_tag    'finandroid_app' %>
    <%= javascript_include_tag 'finandroid_app' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="finandroid_app">
    </div>
    <%= javascript_include_tag 'finandroid_app' %>
  </body>
</html>
