<div class="container">
  <p>Bienvenido  <strong><%= @email %></strong>!</p>

  <p>Puedes confirmar tu cuenta haciend click en el siguiente boton:</p>

  <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), class:  'btn' %></p>
</div>
