<span class="card-title">Hola <%= @email %>!</span>
<div class="container">
  <% if @resource.try(:unconfirmed_email?) %>
    <p>Te escribimos para comunicarte que tu correo se esta cambiando a <%= @resource.unconfirmed_email %>.</p>
  <% else %>
    <p>Te escribirmos para comunicarte que tu correo se ha cambiado al <%= @resource.email %>.</p>
  <% end %>
</div>
