<span class="card-title" >Hola <%= @resource.full_name %>!</span>
<div class="container">
  <p></p>

  <p>Has pedido cambiar tu contraseña. Haz clic en el siguiente link para hacerlo</p>
  <br>
  <br>
  <p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token), class: "btn cyan", target: "_blank" %></p>
  <br>
  <br>
  <p>Si tu no solicitaste cambiar tu contraseña por favor ignora este correo</p>
</div>
